[Unit]
Description=Honami GitOps, run renovate regularly and listen to webhooks
After=network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/home/leomotors/honami-gitops
ExecStart=/home/leomotors/honami-gitops/service.zsh
Type=simple
User=leomotors

[Install]
WantedBy=multi-user.target
